/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
  justify-content: center;
  align-content: center;
}

/* Page wrapper */
.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* Login section */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-box {
  background:black;
  border: 1px solid #3e3e3e;
  padding: 30px;
  border-radius: 3px;
  width: 380px;
  text-align: center;
}

.logo {
  font-family: 'Brush Script MT';
  font-size: 36px;
  margin-bottom: 20px;
}





input {
  width: 100%;
  padding: 10px;
  margin: 6px 0;
  border: 1px solid #262626;
  border-radius: 4px;
  background: #000;
  color: #fff;
}

input::placeholder {
  color: #aaa;
}

.login-btn {
  width: 100%;
  padding: 10px;
  background-color: #3b41bb;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-weight: bold;
  margin-top: 10px;
  cursor: pointer;
  text-decoration: none;
}
.login-btn a{
  color: white;
}

.divider {
  display: flex;
  align-items: center;
  margin: 15px 0;
  color: #aaa;
  font-size: 13px;
}

.divider hr {
  flex: 1;
  border: none;
  border-top: 1px solid #262626;
}

.divider span {
  margin: 0 10px;
}

.fb-link {
  border: none;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  color: #508edf;
  text-decoration: none;
  font-size: 0.90rem;
}
.fb-link:hover {
  text-decoration:none;
}
.forgot {
  display: block;
  margin-top: 15px;
  color: #f4f7f8;
  font-size: 12px;
  text-decoration: none;
  
}
.forgot:hover {
  text-decoration: underline;
}



.signup-box {
  background:black;
  border: 1px solid #3e3e3e;
  padding: 20px;
  width: 380px;
  text-align: center;
  margin-top: 15px;
  border-radius: 3px;
}

.signup-box a {
  color: #3b41bb;
  font-weight: bold;
  text-decoration: none;
  font-size: 0.9rem;
}
.bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;   
  gap: 20px;                 
  margin-top: 20px;
  
}

.language-dropdown {
  background: black;
  color: #b7b3b3;
  border: 1px solid #090000;
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 0.8rem;
}

.bottom span {
  color: #999;
  font-size: 12px;
}



/* Footer */
.footer {
  margin-top: 40px;
  text-align: center;
}

.footer .links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  margin-bottom: 20px;
  font-size: 12px;
  color: #aaa;
}

.footer .links a {
  color: #aaa;
  text-decoration: none;
}
.footer .links a:hover {
  text-decoration: underline;
}
.footer .bottom {
  font-size: 12px;
  color: #aaa;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

/* Responsive */
@media (max-width: 768px) {
  .login-box,
  .signup-box {
    max-width: 90%;
  }

  .footer .links {
    font-size: 11px;
    gap: 8px;
  }
}
