
.message-btn-container {
  position: fixed;   /* keeps it fixed on the page */
  bottom: 90px;      /* distance from bottom */
  right: 130px;       /* distance from right */
  z-index: 1000;     /* make sure it stays on top */
}


.message-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #1c1c1c;
  color: white;
  padding: 8px 12px;
  border-radius: 20px;
  cursor: pointer;
  margin-left: 130px;
  margin-top: 90px;
  
}


.icon-wrapper {
  position: relative;
}

.messenger-icon {
  font-size: 20px;
}

.badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background: red;
  color: white;
  font-size: 12px;
  padding: 2px 5px;
  border-radius: 50%;
}

.profile {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.messages-panel {
  position: absolute;
  bottom: 60px; /* opens above the button */
  right: 0;
  width: 320px;
  background: #1c1c1c;
  color: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;
}


.panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  border-bottom: 1px solid #333;
  font-weight: bold;
}

.notif {
  background: red;
  padding: 2px 6px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: 10px;
}

.close-btn {
  cursor: pointer;
  font-size: 20px;
}

.message-list {
  flex: 1;
  overflow-y: auto;
}

.message-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.message-item:hover {
  background: #2a2a2a;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.msg-info {
  flex: 1;
}

.name {
  font-weight: bold;
  font-size: 14px;
}

.last-msg {
  font-size: 12px;
  color: #aaa;
}

.time {
  font-size: 11px;
  color: #888;
  margin-left: 8px;
}

.dot {
  width: 8px;
  height: 8px;
  background: #1877f2;
  border-radius: 50%;
  margin-left: 5px;
}

.compose {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

.compose-icon {
  font-size: 18px;
  background: #333;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}




